*.rej
*.orig
*.o
*.a
*.bin
*Makefile
*.in
*.deps
*.dirstamp
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
libtool
ltmain.sh
missing
stamp-h1
sgminer
