[submodule "jansson"]
  path = submodules/jansson
  url = https://github.com/akheron/jansson.git
[submodule "include/ocl20/CL"]
	path = include/ocl20/CL
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
	branch = opencl20
[submodule "include/ocl21/CL"]
	path = include/ocl21/CL
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
	branch = opencl21
[submodule "include/ocl12/CL"]
	path = include/ocl12/CL
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
	branch = opencl12
[submodule "submodules/clinfo"]
	path = submodules/clinfo
	url = https://github.com/Oblomov/clinfo.git
